<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Work Experience List</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/styles45.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />

  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Personal Details List</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Blood Group</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% personal.forEach(personal1 => { %>
          <tr>
            <td><%= personal1.employeeName %></td>
            <td><%= personal1.email %></td>
            <td><%= personal1.age %></td>
            <td><%= personal1.bloodGroup %></td>
            <td>
              <form action="/delete_personal_details_button" method="post">
                <input
                  type="hidden"
                  name="personalId"
                  value="<%= personal1.id %>"
                />
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <form
      action="/employee_add_personal_details_button"
      method="post"
      class="text-center"
    >
      <button type="submit" class="btn btn-primary">Add Personal Details</button>
    </form>
    </div>
  </body>
</html>
