<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Work Experience List</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/styles45.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />

  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Work Experience Data</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Joining Year</th>
            <th>Work Experience</th>
            <th>Salary(Rs)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% experience.forEach(experience1 => { %>
          <tr>
            <td><%= experience1.employeeName %></td>
            <td><%= experience1.email %></td>
            <td><%= experience1.year %></td>
            <td><%= experience1.course %></td>
            <td><%= experience1.salary %></td>
            <td>
              <form action="/delete_work_experience_button" method="post">
                <input
                  type="hidden"
                  name="employeeId"
                  value="<%= experience1.id %>"
                />
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <form
        action="/employee_work_experience_button"
        method="post"
        class="text-center"
      >
        <button type="submit" class="btn btn-primary">Add Work Experience</button>
      </form>
    </div>
  </body>
</html>
